sbt-scalagen/src/sbt-test/scalagen/simple/xsd/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:complexType name="std_types_t">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="str" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
